/* PAGE */

.payment-page {
  min-height: 100vh;
  padding: 40px 20px;

  font-family: "Poppins", sans-serif;

  background: #b8a899;
  color: #4a3a2f;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITLE */

.payment-page h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

/* MAIN CONTAINER */

.payment-layout {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARDS */

.summary-box,
.method-box {
  background: #f8f3ee;

  padding: 22px;
  border-radius: 18px;

  border: 1px solid #e6ddd3;

  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

/* SUMMARY ITEMS */

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-box h4 {
  margin-top: 12px;
}

/* PAYMENT OPTIONS */

.method-box label {
  display: block;
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 10px;

  cursor: pointer;
}

.method-box label:hover {
  background: #efe6dc;
}

.method-box input {
  margin-right: 10px;
  accent-color: #b5633c;
}

/* PAY BUTTON */

.pay-btn {
  margin-top: 25px;

  width: 100%;
  max-width: 450px;

  padding: 16px;

  border: none;
  border-radius: 14px;

  background: #b5633c;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.pay-btn:hover {
  background: #9e4f2a;
}

/* MOBILE */

@media (max-width: 480px) {

  .payment-page {
    padding: 30px 15px;
  }

  .summary-box,
  .method-box {
    padding: 18px;
  }

}